// src\sass\_main-pc.scss
@media screen and (min-width: 1440px) {
  // Скрываем мобильные элементы
  .mobile-menu-overlay,
  .burger-menu,
  .sidebar__close-btn {
    display: none;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }

  .container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-content {
    flex: 1;
    background-color: var(--main-content-bg-color);
    padding: 41px 95px 258px 71px;

    &__title {
      font-size: 24px;
      margin-bottom: 51px;
      margin-top: 0;
      font-weight: 400;
      line-height: normal;
      padding-left: 0;
    }
  }

  .customers {
    background-color: var(--primary-white-color);
    fill: var(--primary-white-color);
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
    border-radius: 30px;
    padding: 30px 44px 40px 38px;
    width: 968px;

    // Стили для заголовка секции
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    // Стили для поиска
    &__search {
      margin-right: 9px;
      margin-top: 5px;
  
    }

    // Стили для таблицы на grid
    &__table-container {
       margin-top: 40px;
       overflow-x: initial;
       margin-bottom: 0;

      .customers__header {
        grid-template-columns: 130px 110px 130px 200px 120px 110px;
        padding: 14px 0px;
        column-gap: 25px;

      }
    }

    &__row {
      display: grid;
      // Меняем значения колонок для более точного соответствия макету
      grid-template-columns: 130px 110px 130px 200px 120px 110px;
      column-gap: 25px;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid #eee;
      width: 100%;
    }

    &__th {
      color: var(--light-grey-color);
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
      text-align: left; // Добавили выравнивание текста
    }

    &__td {
      color: #292d32;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
      text-align: left; // Добавили выравнивание текста

      &--active {
        color: #008767;
        background: rgba(22, 192, 152, 0.38);
        border: 1px solid #00b087;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        display: inline-flex;
        width: 84px;
        justify-self: start; // Добавили для выравнивания кнопки статуса
      }

      &--inactive {
        color: var(--inactive-red-color);
        background: #ffc5c5;
        border: 1px solid var(--inactive-red-color);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        display: inline-flex;
        width: 84px;
        justify-self: start; // Добавили для выравнивания кнопки статуса
      }
    }

    // Стили для пагинации
    &__pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 32px;
      flex-direction: row;
    }

    &__pagination-button {
      border-radius: 4px;
      border: 1px solid #eee;
      padding: 6px 9px;
      background: transparent;
      cursor: pointer;
      color: #404b52;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.12px;

      &--active {
        border: 1px solid var(--active-color);
        background: var(--active-color);
        color: var(--primary-white-color);
      }
    }
  }
}