doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CRM Dashboard
    link(rel="stylesheet" href="../sass/main.scss")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
  body
    .container
      include ../partials/_sidebar.pug
      main.main-content
        .main-content__header
          h1.main-content__title Hello Evano 👋🏼,
          button.burger-menu(data-menu-open)
            svg.icon
              use(xlink:href='../images/sprite.svg#burger-menu')
        section.customers
          .customers__header
            .customers__title-wrap
              h2.customers__title All Customers
              p.customers__subtitle Active Members
            .customers__search
              svg.icon
                use(xlink:href='../images/sprite.svg#icon-search-1')
              input(type="text" placeholder="Search")
          
          .customers__table-container
            .customers__header
              .customers__th Customer Name
              .customers__th Company 
              .customers__th Phone Number
              .customers__th Email
              .customers__th Country
              .customers__th Status
            .customers__body
              .customers__row
                .customers__td Jane Cooper
                .customers__td Microsoft
                .customers__td (225) 555-0118
                .customers__td jane@microsoft.com
                .customers__td United States
                .customers__td.customers__td--active Active
              .customers__row
                .customers__td Floyd Miles
                .customers__td Yahoo
                .customers__td (205) 555-0100
                .customers__td floyd@yahoo.com
                .customers__td Kiribati
                .customers__td.customers__td--inactive Inactive
              .customers__row
                .customers__td Ronald Richards
                .customers__td Adobe
                .customers__td (302) 555-0107
                .customers__td ronald@adobe.com
                .customers__td Israel
                .customers__td.customers__td--inactive Inactive
              .customers__row
                .customers__td Marvin McKinney
                .customers__td Tesla
                .customers__td (252) 555-0126
                .customers__td marvin@tesla.com
                .customers__td Iran
                .customers__td.customers__td--active Active
              .customers__row
                .customers__td Jerome Bell
                .customers__td Google
                .customers__td (629) 555-0129
                .customers__td jerome@google.com
                .customers__td Réunion
                .customers__td.customers__td--active Active
              .customers__row
                .customers__td Kathryn Murphy
                .customers__td Microsoft
                .customers__td (406) 555-0120
                .customers__td kathryn@microsoft.com
                .customers__td Curaçao
                .customers__td.customers__td--active Active
              .customers__row
                .customers__td Jacob Jones
                .customers__td Yahoo
                .customers__td (208) 555-0112
                .customers__td jacob@yahoo.com
                .customers__td Brazil
                .customers__td.customers__td--active Active
              .customers__row
                .customers__td Kristin Watson
                .customers__td Facebook
                .customers__td (704) 555-0127
                .customers__td kristin@facebook.com
                .customers__td Åland Islands
                .customers__td.customers__td--inactive Inactive
          
          .customers__pagination
            p.customers__pagination-info Showing data 1 to 8 of 256K entries
            .customers__pagination-buttons
              button.customers__pagination-button &lt;
              button.customers__pagination-button.customers__pagination-button--active 1
              button.customers__pagination-button 2
              button.customers__pagination-button 3
              button.customers__pagination-button 4
              span ...
              button.customers__pagination-button 40
              button.customers__pagination-button &gt;

    script(type="module" src="../index.js")
    script(src="../js/gsap.js")
