nav.sidebar
  .sidebar__logo
    //- img(src="path/to/logo.svg" alt="Dashboard Logo")
    span Dashboard v.01
  ul.sidebar__menu
    li.sidebar__item.sidebar__item--active
      a(href="#") Dashboard
    li.sidebar__item
      a(href="#") Product
    li.sidebar__item
      a(href="#") Customers
    li.sidebar__item
      a(href="#") Income
    li.sidebar__item
      a(href="#") Promote
    li.sidebar__item
      a(href="#") Help
  .sidebar__user
    img.sidebar__user-avatar(src="../images/evano.webp" alt="Evano")
    .sidebar__user-info
      span.sidebar__user-name Evano
      span.sidebar__user-position Project Manager