nav.sidebar
  .sidebar__logo
    svg.icon
      use(xlink:href='../images/sprite.svg#setting-1')
    span Dashboard v.01

  ul.sidebar__menu
    li.sidebar__item.sidebar__item--active
      a(href="#")
        svg.icon
          use(xlink:href='../images/sprite.svg#key-square-2')
        | Dashboard

    li.sidebar__item
      a(href="#")
        svg.icon
          use(xlink:href='../images/sprite.svg#3d-square-1')
        | Product

    li.sidebar__item
      a(href="#")
        svg.icon
          use(xlink:href='../images/sprite.svg#user-square-1')
        | Customers

    li.sidebar__item
      a(href="#")
        svg.icon
          use(xlink:href='../images/sprite.svg#wallet-money-3')
        | Income

    li.sidebar__item
      a(href="#")
        svg.icon
          use(xlink:href='../images/sprite.svg#discount-shape-1')
        | Promote

    li.sidebar__item
      a(href="#")
        svg.icon
          use(xlink:href='../images/sprite.svg#message-question-1')
        | Help

  .sidebar__user
    img.sidebar__user-avatar(src="../images/evano.webp" alt="Evano")
    .sidebar__user-info
      span.sidebar__user-name Evano
      span.sidebar__user-position Project Manager
